<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no" />
  <%- include('../partials/seo') %>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/chat.css" />
</head>
<body class="chat-body">
  <%- body %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>
